/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 5 version
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
}
:root{
    --white-color:#fff;
    --price-color:#290000;
    --hover-color:#78CCCD;
    --text-color:#636163;
    --black-color:#000;

}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
}
/*html::-webkit-scrollbar-track{
    background-color: rgb(255, 102, 0);
    border-radius: 5rem;
}*/
html::-webkit-scrollbar-thumb{
    background-color: var(--black-color);
    border-radius: 5rem;
}
.main{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
}
.loading{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}
.loading .loading-1{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 8px inset rgb(128, 62, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: dotted 8px red;
    -webkit-animation: load linear .2s infinite;
    animation: load linear .2s infinite;
}
.loading .loading-1 .loading-2{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 6px inset green;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: dotted 6px red;
}
.loading .img-load img{
    position: absolute;
    top: 43.5%;
    left: 46.7%;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 3px solid red;
}
@keyframes load{
    from{
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    to{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}
@-webkit-keyframes load{
    from{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
    to{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}
.backtop{
    position: fixed;
    bottom: 10rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    background-color: #000;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #fff;
    z-index: 100000;
    opacity: 0;
    -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
            transform: translateX(50px);
    -webkit-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
    cursor: pointer;

}
.backtop-in{
    opacity: 1;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}
.backtop i{
    font-size: 2rem;
    color: #fff;
}
@-webkit-keyframes backtop-in{
    from{
        -webkit-transform: translateX(50px);
                transform: translateX(50px);
        opacity: 0;
    }
    to{
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}
@keyframes backtop-in{
    from{
        -webkit-transform: translateX(50px);
                transform: translateX(50px);
        opacity: 0;
    }
    to{
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}
#lienhe{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 8rem;
    height: 8rem;
    background-color: #0084ff;
    border-radius: 50%;
    z-index: 100000;
    border: 1px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-animation: lienhe linear 1s infinite;
            animation: lienhe linear 1s infinite;
    cursor: pointer;
}
#lienhe i{
    font-size: 3rem;
    color: #fff;
}
#lienhe p{
    font-size: 1.6rem;
    color: #fff;
    text-transform: none;
}
@-webkit-keyframes lienhe {
    0%{
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
    50%{
        -webkit-transform: scale(1.02);
                transform: scale(1.02);
        border: 2px solid orange;
    }
    100%{
        -webkit-transform: scale(1.03);
                transform: scale(1.03);
        border: 4px solid green;
    }
}
@keyframes lienhe {
    0%{
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
    50%{
        -webkit-transform: scale(1.02);
                transform: scale(1.02);
        border: 2px solid orange;
    }
    100%{
        -webkit-transform: scale(1.03);
                transform: scale(1.03);
        border: 4px solid green;
    }
}
.heading{
    font-size: 3rem;
    color: var(--black-color);
    text-transform: uppercase;
    font-weight: 500;
}
.heading:hover, .product-search-icon:hover, .sapxep-item a:hover {
    color: var(--hover-color);
}
.sapxep-item a:hover{
    background-color: #EEEEEE;
    font-weight: 500;
}
.navbar, .sidebar{
    width: 290px;
    background-color:var(--white-color);
    padding: 20px 0;
    height: 100vh;
    z-index: 1;
    position: fixed;
}
.logo-main, .logo-main-mb{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.logo-main a{
    
}
.logo-main img,
.logo-main-mb img{
    max-width: 180px;
    height: 150px;
    padding: 20px 0;
}
.logo-main-mb{
    position: relative;
}
.logo-main-mb a .hot{
    position: absolute;
    top: -6px;
    left: 46px;
    background-color: #FF0000;
    width: 3rem;
    height: 2rem;
    text-align: center;
}
.logo-main-mb a .hot::before{
    content: '';
    position: absolute;
    left: 17%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid red;
    clear: both;
}

.logo-main-mb a .hot p{
    color: var(--white-color);
    font-size: 1.2rem;
}
.navbar .icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1.8rem 0;
    height: 7.8rem;
}
.sidebar .icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin:0 0 1.8rem 0;
    height: 5rem;
}
.navbar .icons .icon a i{
    font-size: 2rem;
    padding: 1rem;
    color: var(--text-color);
    cursor: pointer;
}
.sidebar .icons .icon a i{
    font-size: 2rem;
    padding: 1rem;
    color: var(--price-colorr);
    font-weight: bold;
    cursor: pointer;
}
.navbar .icons .icon a i:hover{
    color: var(--hover-color);
}
.bag{
    position: relative;
}
.number-sp{
    position: absolute;
    top: -1.5rem;
    right: 0;
    background-color: var(--black-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
    cursor: pointer;
}
.number-sp p{
    color: var(--white-color);
    font-size: 1.4rem;
}

.navbar .menu-list .menu{
    height: 35rem;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
}
.sidebar .menu-list .menu{

}
.navbar .menu-list .menu .menu-item .item-link,
.sidebar .menu-list .menu .item-link{
    font-size: 1.5rem;
    display: block;
    color: var(--price-color);
    text-transform: uppercase;
    padding: 1.8rem;
    line-height: 1.6rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    
}
.sidebar .menu-list .menu .item-link{
    padding: 2rem;
    border-bottom: .5px solid rgb(230, 228, 228);
}
.hotline .sdt .phone p:hover,
.hotline .mxh .link-mxh:hover,
.navbar .menu-list .menu .menu-item .item-link:hover{
    color: var(--hover-color);
    text-decoration: underline;
    background-color: rgb(253, 252, 252);
}
.hotline{
    position: fixed;
    background-color: var(--white-color);
    width: 290px;
    height: 108px;
    text-align: center;
}
.hotline .sdt{
    background-color: var(--black-color);
    width: 18rem;
    height: 4rem;
    margin: 0 auto;
}
.hotline .sdt .phone{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 1rem;
    padding-right: 2rem;
}
.hotline .sdt .phone i{
    color: var(--white-color);
    font-size: 2.5rem;
    line-height: 4rem;
}
.hotline .sdt .phone p{
    font-size: 1.6rem;
    color: var(--white-color);
}
.hotline .mxh{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.hotline .mxh .link-mxh{
    margin-top: 1.5rem;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 1rem;
}
.navbar-mobile{
    display: none;
}
.navbar-mb{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 .5rem;
    height: 7.8rem;
    overflow: hidden;
}
.navbar-mb .menu-btn{
    
}
.navbar-mb .menu-btn i{
    font-size: 2rem;
    color: var(--price-color);
    padding: 1rem;
    cursor: pointer;
}
.navbar-mb .logo-mb{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    padding: 1.3rem 0 1rem 7rem;
    
}
.navbar-mb .logo-mb a img{
    
    width: 10rem;
    height: 6rem;
    -o-object-fit: contain;
       object-fit: contain;
    cursor: pointer;
}
.navbar-mb .icons-mb{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.navbar-mb .icons-mb i{
    font-size: 2rem;
    padding: .8rem;
    cursor: pointer;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
}
.close-mb{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--price-color);
}
.overlay-mb{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    -webkit-transition: all linear.2s;
    -o-transition: all linear.2s;
    transition: all linear.2s;
    opacity: 0;
    display: none;

}
.input-menu{
    display: none;
}
.input-menu:checked ~ .overlay-mb{
    display: block;
    opacity: 1;
}
.input-menu:checked ~ .sidebar{
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
}
.container{
    width: calc(100% - 290px);
    margin-left: 290px;

}

.search-item{
    position: fixed;
    top: 0;
    left: 290px;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    display: none;
    -webkit-animation: fadeOpa linear .3s;
            animation: fadeOpa linear .3s;
            z-index: 10000000;
}

@-webkit-keyframes fadeOpa {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOpa {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* .overlay-search.active{
    display: block;
    opacity: 1;
    transform: translateX(0%);
    
} */
.input-search {
    margin: 4rem auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 1000;
    width: 70.8rem;
    background-color: var(--white-color);
    padding: 0 5rem;
    opacity: 0;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}
.input-search-mb{
    margin: 4rem auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 1000;
    width: 100%;
    background-color: var(--white-color);
    padding: 0 5rem;
    opacity: 0;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}
.input-search i, .input-search-mb i{
    font-size: 2rem;
    color: var(--price-color);
}
.input-search i:last-child, .input-search-mb i:last-child{
    cursor: pointer;
    color: var(--text-color);
}
.input-search i:last-child:hover, .input-search-mb i:last-child:hover{
    color: var(--price-color);
}
.input-search input, .input-search-mb input{
    padding:3rem 2rem;
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: left;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.input-search-pc{
    display: none;
}
.input-search-pc:checked ~ .search-item{
    display: block;
}
.input-search-pc:checked ~ .search-item .input-search{
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
}
.input-search-pc:checked ~ .search-item .input-search i:last-child{

}
.input-search-checkbox{
    display: none;
}
.hot-pc{
    position: relative;
}
.hot-pc .hot{
    position: absolute;
    top: -6px;
    left: 58px;
    background-color: #FF0000;
    width: 3rem;
    height: 2rem;
    text-align: center;
}
.hot-pc .hot::before{
    content: '';
    position: absolute;
    left: 17%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid red;
    clear: both;
}

.hot-pc .hot p{
    color: var(--white-color);
    font-size: 1.2rem;
}
.search-item-mb{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    display: none;
    -webkit-animation: fadeOpa linear .3s;
            animation: fadeOpa linear .3s;
    
}
.tibag-mb{
    position: relative;
}
.number-sp-mb{
    position: absolute;
    top: -1.5rem;
    right: 0;
    background-color: var(--black-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
    cursor: pointer;
}
.number-sp-mb p{
    color: var(--white-color);
    font-size: 1.4rem;
}
.input-search-checkbox:checked ~ .search-item-mb{
    display: block;
    
}
.input-search-checkbox:checked ~ .search-item-mb .input-search-mb{
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
}
.input-search-checkbox:checked ~ .input-search-mb i:last-child{
    
}

.slider-show{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.slider{
    overflow: hidden;
    
}
.slides{
    width: 500%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.slides input{
    display: none;
}
.slide img{
    width: 100%;
}
.slide{
    width: 20%;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

/* css navigation-manual */
.navigation-manual{
    position: absolute;
    width: calc(100% - 304.6px);
    margin-top: -3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.manual-btn{
    border: 1px solid #fff;
    
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 2rem;
}
.manual-btn:hover{
    background-color: #000;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left:-40%;
}
#radio4:checked ~ .first{
    margin-left:-60%;
}

/* css auto */
.navigation-auto {
    position: absolute;
    width: calc(100% - 304.6px);
    margin-top: 37.25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.navigation-auto div{
    border: 1px solid #fff;
    background-color: #fff;
    padding: .5rem;
    border-radius: 1rem;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 2rem;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #000;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #000;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #000;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #000;
}

.content{
    width: 100%;
}
.banner-main{
    margin: 1.5rem 3rem;
}
.banner-item{
    padding: 1.5rem;
}
.banner-item img{
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.banner-sp-1{
    position: relative;
    cursor: pointer;
}
.banner-sp-1 a img, .banner-sp-s a img{
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.banner-sp-1 a .overlay{
    position: absolute;
    top: 0;
    left: 14.6px;
    right: 15px;
    bottom: 5px;
    background-color: rgba(0, 0, 0, .2);
    z-index: 10;
    opacity: 0;
    -webkit-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
}
.banner-sp-1:hover a .overlay{
    opacity: 1;
}
.banner-sp-s{
    cursor: pointer;
    position: relative;
}
.banner-sp-s a .overlay-2{
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 5px;
    background-color: rgba(0, 0, 0, .2);
    z-index: 10;
    opacity: 0;
    -webkit-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
}
.banner-sp-s-footer{
    position: relative;
    margin-top: 27px;
    cursor: pointer;
}
.banner-sp-s-footer a .overlay-2{
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 5px;
    background-color: rgba(0, 0, 0, .2);
    z-index: 10;
    opacity: 0;
    -webkit-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
}
.banner-sp-s:hover a .overlay-2,
.banner-sp-s-footer:hover a .overlay-2{
    opacity: 1;
}
.products{
    padding: 0 3rem;
    margin: 3rem 0;
}
.products .header{
    margin: 4rem 0 3rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.products .header h3{
    text-align: center;
    line-height: 4rem;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0.8rem;
}
.products .header .kt{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.products .header .kt .title-litter{
    padding: 0 1.5rem;
    background-color: var(--white-color);
}
.products .header .kt .title-litter i{
    font-size: .8rem;
}
.products .header .kt::before{
    background: #000;
    content: "";
    height: 0.5px;
    position: absolute;
    width: 430px;
    z-index: -1;

}
.product-item{
    position: relative;
    overflow: hidden;
    cursor: pointer;

}
.product-item a .image{
    height: 415px;
    text-align: center;
    overflow: hidden;
    padding: 5px;
    position: relative;
}
.product-item a .image img{
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}
.product-item .price-list{
    padding: 1rem;
    height: 8.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
}
.product-item .price-list .price-new{
    font-size: 1.8rem;
    color: var(--price-color);
    font-weight: 500;
    
}
.product-item .price-list .price-new span{
    text-transform: none;
    text-decoration: underline;
    font-size: 1.3rem;
    font-weight: bold;
}
.product-item .price-list .price-old{
    font-size: 1.4rem;
    color: #d6d6d6;
    text-decoration: line-through;
    margin-left: 2rem;
}
.product-item .price-list .price-old span{
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: none;
    text-decoration: underline;
}
.product-item a .image .product-sp{
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5px 0;
    height: 70px;
    max-height: 70px;
    background-color: var(--white-color);
    -webkit-transition: all .6s ease-in-out 0s;
    -o-transition: all .6s ease-in-out 0s;
    transition: all .6s ease-in-out 0s;
    z-index: 100;
}
.product-item:hover a .image .product-sp{
    top: 83.5%;
}
.product-item:hover a .image{
    -webkit-transform: translateY(-0.5rem);
        -ms-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
}
.product-item a .image .product-sp .product-sp1{
    width: 20%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
.product-item a .image .product-sp .product-sp1:hover{
    border: 1px solid red;
}
.product-item a .image .product-sp .product-sp1 img{
    height: 100%;
}
.product-sale{
    position: relative;
}
.product-sale .product-sale-item{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    width: 3.5rem;
    height: 4.6rem;
    background-color: #DC4C4C;
    text-align: center;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.product-sale .product-sale-item p{
    color: var(--white-color);
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 4.6rem;
}
.banner-menu{
    padding: 0 4rem;
    margin: 5rem 1.5rem;
}
.banner-menu img{
    width: 100%;
}
.tintuc{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 8rem 1.5rem 0 1.5rem;
    padding: 0 4rem;
}
.tintuc::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    z-index: -1;
    display: block;
}
.tintuc::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #000;
    margin-top: 0.7rem;
    z-index: -1;
}
.tintuc p{
    font-size: 2.5rem;
    padding: 0 1rem;
    background-color: #fff;

}
.slide-show-2{
    margin: 2rem 0;
    padding: 0 1.5rem;
}
.banner-img{
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 100%;
}
.banner-img-item{
    height: 450px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.banner-img-item .chi-tiet{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(230, 228, 228, 0.5);
    height: 5rem;

}
.banner-img-item .chi-tiet span{
    font-size: 1.8rem;
    color: #fff;
    text-transform: uppercase;
    line-height: 3rem;
    background-color: #3ba1a2;
    padding: 0 2rem;
}
.banner-img-item .chi-tiet p{
    font-size: 1.7rem;
    color: var(--price-color);
    padding: 0 1rem;
}
.banner-img-item .chi-tiet p:hover a{
    color: var(--hover-color);
    text-decoration: underline;
}
.banner-img-item .slider-img{
    width: 100%;
    border-radius: 4px;
}
.slider-show-item{
    position: relative;
    overflow: hidden;
}
.slider-show-item:hover .slick-prev,
.slider-show-item:hover .slick-next{
    opacity: 1;
}
.icon-prev,
.icon-next{
    width: 36px;
    height: 54px;
}
.icon-prev{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.slick-arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -28px;
    opacity: 0.3;
    z-index: 1;
}
.slick-next{
    right: 0;
}
.slide-cmt h3{
    font-size: 2rem;
    text-transform: uppercase;
    color: #000;
    margin: 2rem 0;
}
.slide-cmt-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}
.slide-cmt-content{
    padding: 0 3rem;
}
.slide-cmt-item .image-cmt img{
    width: 100%;
}
.slide-cmt-item .slide-cmt-content{
    width: 70%;
    padding-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.slide-cmt-item .slide-cmt-content .title{
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    color: #333;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.6rem;
}
.slide-cmt-item .slide-cmt-content span{
    font-size: 1.4rem;
    color: #000;
}
.slide-cmt-item .slide-cmt-content .name-cate{
    font-size: 1.5rem;
    color: var(--hover-color);
}
.xemthem{
    margin: 3rem 0;
}
.xemthem-item{
    width: 26rem;
    height: 5rem;
    margin: 0 auto;
    border: 1px solid #ccc;

}
.xemthem-item a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 5rem;
}
.xemthem-item a i{
    font-size: 2rem;
    padding-right: 1rem;
    color: #636163;
}
.xemthem-item a p{
    font-size: 1.8rem;
    color: var(--text-color);
    text-transform: none;
}
.xemthem-item a p:hover{
    text-decoration: underline;
}
.video-ytb{
    width: 100%;
    height: 70rem;
}
.video-ytb iframe{
    width: 100%;
    height: 100%;
}
.hethong{
    margin: 3rem 0;
}
.hethong-item{
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.hethong-item h3{
    font-size: 3.5rem;
    color: var(--black-color);
    text-transform: none;
    font-weight: 600;
    line-height: 4rem;
}
.hethong-item span{
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0 2rem;
    background-color: var(--white-color);
}
.hethong-item span::before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: var(--black-color);
    width: 400px;
    margin-top: 7.3px;
    margin-left: -198px;
    z-index: -1;
}
.diachi{
    background-image: url(https://storage.googleapis.com/cdn.nhanh.vn/store/7136/bn/sb_1570684484_63.jpg);
    width: 100%;
    height: 36rem;
    background-position: center;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.diachi-item{
    background-color: rgba(178, 116, 17, .8);
    border: 2px solid #fff;
    width: 50rem;
    height: 7rem;
    text-align: center;
}
.diachi-item p{
    font-size: 3rem;
    color: var(--black-color);
    line-height: 7rem;
    text-transform: uppercase;
}
.footer{
    background-color: var(--black-color);
    padding: 3rem 2rem;
    
}
.footer-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.muahang{
    text-align: center;
   
}
.muahang h3{
    font-size: 1.5rem;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 400;
}
.muahang p a{
    font-size: 1.8rem;
    color: #fd7a07;
    line-height: 4rem;
    font-weight: 500;
}
.muahang span a{
    font-size: 1.2rem;
    color: var(--white-color);
    text-transform: none;
}

.text-list{

}
.text-list h3{
    font-size: 1.8rem;
    color: var(--white-color);
    font-weight: 400;
    padding-bottom: 1rem;
}
.text-list a{
    display: block;
    font-size: 1.4rem;
    color: var(--white-color);
    padding-top: 1.5rem;
    position: relative;
}
.text-list a:hover,
.muahang span a:hover,
.hotline-footer span a:hover{
    color: var(--hover-color);
    text-decoration: underline;
}
.text-list .tuyendung{
    color: var(--hover-color);
}
.text-list .tuyendung:hover{
    color: var(--white-color);
}
.footer-input{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 3rem;
    border-bottom: 1px solid #fff;
}
.footer-input-item{


}
.footer-input-item p{
    font-size: 1.8rem;
    color: var(--white-color);
    line-height: 4rem;
}
.footer-input-item div {
    width: 40rem;
    background-color: #D8D8D8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #fff;
}
.footer-input-item div input{
    padding: .5rem 1.5rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: #D8D8D8;
    font-size: 1.4rem;
}
.footer-input-item label{
    padding: .4rem 1.8rem;
    color: #fff;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.4rem;
}
.footer-gopy{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.footer-gopy .thu i{
    font-size: 1.5rem;
    color: var(--black-color);
    padding: .5rem;
    border-radius: 50%;
    background-color: var(--hover-color);
}
.footer-gopy p a{
    color: var(--hover-color);
    font-size: 1.4rem;
    margin-left: .5rem;
    margin-top: 100%;
}

/*product*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 5 version
*/

.product-main{
    width: 100%;
    word-spacing: .2rem;
}
.product-main .navbar-main{
    width: 100%;
    height: 7rem;
    background-color: #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 5rem;
}
.product-main .navbar-main .navbar-link{
    display: block;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0 .5rem;
    line-height: 7rem;
    font-weight: 450;
    word-spacing: .2rem;

}
.product-main .navbar-main span{
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 7rem;
}
.product-main .navbar-main .navbar-link:hover{
    color: var(--hover-color);
    text-decoration: underline;
}
.product-main .product-sp{
    padding: 5rem 3rem;
    margin: 0 1.5rem;
}
.product-sp-imgmain{
    padding-left: 0;
}
.product-sp-imgmain img{
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.product-chitiet{
    padding-right: 0;
}
.product-chitiet h3{
    font-size: 3rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 4rem;
    display: block;
}
.product-chitiet .product-sp-price{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
}
.product-chitiet .product-sp-price .product-sp-price-new{
    color: red;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.product-chitiet .product-sp-price .product-sp-price-new span{
    font-size: 1.8rem;
    text-decoration: underline;
    font-weight: 800;
    display: block;
}
.product-chitiet .product-sp-price .product-sp-price-old{
    color: var(--text-color);
    font-size: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: line-through;
    margin-right: 2rem;
}
.product-chitiet .product-sp-price .product-sp-price-new span{
    font-size: 1.2rem;
    text-decoration: underline;
    display: block;
}
.product-chitiet p,
.product-chitiet p a{
    font-size: 1.6rem;
    color: var(--price-color);
    line-height: 3rem;
}
.product-chitiet p a:hover{
    color: var(--hover-color);
    text-decoration: underline;
}
.product-sp-img-item{
    width: 7.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 7.5rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: #fff;
}
.product-sp-img-item:hover{
    border: 1px solid red;
}

.product-sp-img-item::before{
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: .8rem solid transparent;
    border-left: .8rem solid transparent;
    border-right: .8rem solid red;
    border-bottom: .8rem solid red;
    display: none;
}
.product-sp-img-item .check{
    position: absolute;
    bottom: 0;
    right: .15rem;
}
.product-sp-img-item .check i{
    font-size: .7rem;
    color: var(--white-color);
}
.product-sp-img-item:hover::before{
    display: block;
}
.product-sp-img-item div img{
    width: 100%;
   height: 7.5rem;
}
.product-chon .kichco div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.product-chon .kichco div .kickco-size{
    width: 3rem;
    height: 3rem;
    border: 1px solid;
    margin: 0 .2rem;
    cursor: pointer;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.product-chon .kichco div .kickco-size p{
    font-size: 1.6rem;
    color: var(--price-color);
    
}
.product-chon .kichco div .kickco-size::before{
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: .8rem solid transparent;
    border-left: .8rem solid transparent;
    border-right: .8rem solid red;
    border-bottom: .8rem solid red;
    display: none;

}
.product-chon .kichco div .kickco-size .check{
    position: absolute;
    bottom: 0;
    right: .15rem;
}
.product-chon .kichco div .kickco-size .check i{
    font-size: .7rem;
    color: var(--white-color);
}
.product-chon .kichco div .kickco-size:hover{
    border: 1px solid red;
}
.product-chon .kichco div .kickco-size:hover::before{
    display: block;
}
.product-chon .soluong input{
    width: 6rem;
    padding: 1rem 0 1rem 1rem;
    font-size: 1.6rem;
    border: 1px solid;

}
.themvao-muangay{
    margin: 2rem 0;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
        
}
.themvao-muangay .themvao-muangay-item{
    border: 2px solid;
    padding: 1.5rem 0;
    text-align: center;
}
.themvao-muangay .themvao-muangay-item a{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--price-color);
}
.themvao-muangay .themvao-muangay-item:first-child{
    border: 2px solid red;
}
.themvao-muangay .themvao-muangay-item .themvao{
    color: red;
}
.cotaicuahang{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid;
    background-color: var(--black-color);
    padding: 1.3rem 0;
    margin-bottom: 2rem;
    cursor: pointer;
}
.cotaicuahang .icon{
    margin-right: 1.5rem;
}
.cotaicuahang .icon i{
    font-size: 2rem;
    color: var(--white-color);
}
.cotaicuahang .text{
    font-size: 1.6rem;
    color: var(--white-color);
}
.cam-ket-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;

}
.cam-ket-text .icon{
    margin-right: 1rem;
}
.cam-ket-text .icon i{
    font-size: 1rem;
}
.cam-ket-text p{
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--price-color);
}
.product-body{
    padding: 0 3rem;
    margin: 0 1.5rem;
}
.product-comment{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.product-comment .product-comment-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.5rem 5rem;
}
.product-comment .product-comment-item p{
    font-size: 1.6rem;
    color: var(--price-color);

}
.product-comment .product-comment-item:first-child{
    border-top: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.product-comment-img{
    padding: 1.5rem;
    border: 1px solid var(--text-color);
    position: relative;
    margin-bottom: 5rem;

}
.product-comment-img::before{
    position: absolute;
    content: "";
    top: -3px;
    left: 0;
    width: 14.5rem;
    height: 7px;
    background-color: #fff;
}
.product-comment-img h3{
    font-size: 3rem;
    font-weight: 400;
    color: var(--price-color);
    padding: 4rem 0 2rem 0;
}
.product-comment-img p{
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 2rem;
}
.product-comment-img ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    margin-left: 5rem;
}
.product-comment-img ul li{
    padding: 1rem 0;
    font-size: 1.6rem;
    margin: 0 2rem;
}
.product-comment-img .img{
    margin-top: 2rem;
}
.product-comment-img .img div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.product-comment-img .img div img{
    width: 100%;
}

/* new arrivals */
.product-search-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
    border-bottom: 1px solid #ccc;

}
.product-search-list .loc{
    display: flex;
    align-items: center;
    flex: 1;

}
.product-search-icon{
    font-size: 2rem;
    cursor: pointer;
    margin-right:1rem;
}
.product-search-icon-2{
    margin: 0 0.5rem 0 1rem ;
}
.product-search-text{
    font-size: 1.7rem;
    font-weight: 500;
}
.product-search-list .xem{
    margin-right: 2rem;
}
.product-search-list .sapxep{
    display: flex;
    align-items: center;
}
.sapxep-list{
    cursor: pointer;
    margin-left: 1rem;
    padding: 1rem 7rem 1rem 2rem;
    border: 0.5px solid #ccc;
    position: relative;
}
.product-search-text-md{
    font-weight: 200;
}
.sapxep-item{
    position: absolute;
    left: 0;
    top: 4rem;
    width: 100%;
    border: 0.5px solid #ccc;
    z-index: 1000;
    background-color: #fff;
    display: none;

}
.sapxep-item a{
    display: block;
    font-size: 1.6rem;
    color: var(--black-color);
    font-weight: 400;
    padding: 0.5rem 0 0.5rem 2rem;
}
l.open{
    display: block;
}
.shopping-cart-container.active{
    display: block;
}
.product-page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    border-top: 1px solid #ccc;
}
.product-page a{
    font-size: 1.8rem;
    padding: 1rem;
    color: black;
}
.product-page a:hover{
    color: var(--hover-color);
}
.product-page .page-number{
    color: var(--hover-color);
}
.product-list-menu-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    margin: 2rem 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.product-menu-title{
    position: relative;
    padding: 0 2rem 0 1rem;
    border-right: 1px solid #ccc;
    cursor: pointer;
}
.kbd{
    border: none;
}
.product-menu-title span{
    font-size: 1.7rem;
    font-weight: 500;
}
.product-menu-title span:hover{
    color: var(--hover-color);
    text-decoration: underline;
    font-weight: 600;
}
.product-menu-main{
    position: absolute;
    top: 2rem;
    left: 0;
    width: 20rem;
    padding-left: 1rem;
    border: 1px solid #ccc;
    z-index: 100;
    background-color: var(--white-color);
    display: none;
}
.product-menu-main .product-link-item{
    line-height: 3rem;
    font-size: 1.6rem;
    display: block;
    color: var(--text-color);
}
.product-menu-title:hover .product-menu-main{
    display: block;
}
.product-menu-main .product-link-item:hover{
    color: var(--hover-color);
    text-decoration: underline;
    font-weight: 500;
}
/*Chinh sach phuong lam*/
.img img{
    width: 100%;
}
.heading_2{
    font-size: 3rem;

}
.products div .p-chinhsach{
    font-size: 1.6rem;
     margin-top: 3rem;
}
.products div p span{
    color: var(--hover-color);
    font-weight: 500;

}
.icon_1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_1 i{
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
}
.icon_1 i:hover{
    color: var(--hover-color);
}
/*CSS phần login*/
.container .login-main{
   
    
}
.container .login-main .login-img img{
    width: 100%;
    height: 23rem;
}
.container .login-main .login-img{
    position: relative;
}
.container .login-main .login-img .login-item{
    position: absolute;
    width: 100%;
    height: 23rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.container .login-main .login-img .login-item h1{
    font-size: 4rem;
    font-weight: 400;
    padding-bottom: 4rem;
}
.container .login-main .login-img .login-item p{
    font-size: 1.6rem;
}
.container .login-main .login-img .login-item p a{
    color: black;
    cursor: pointer;

}
.container .login-main .login-img .login-item p a:hover{
    color: var(--hover-color);
    text-decoration: underline;
}
.container .login-form{
    text-align: center;
    padding: 6rem 0;
}
.container .login-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .login-form form input{
    width: 55rem;
    height: 4.5rem;
    padding: 1rem;
    border: 1px solid #ccc;
    font-size: 1.6rem;
}
.container .login-form form input{
    margin-bottom: 1rem;
}
.container .login-form .login{
    width: 16rem;
    height: 5rem;
    background-color: var(--hover-color);
    color: var(--white-color);
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    cursor: pointer;
    margin-top: 2rem;
}

.container .login-form .login-link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    margin-top: 4rem;
 
}
.container .login-form .login-link a, .container .login-form .login-link button{
    color: black;
    cursor: pointer;
}
.container .login-form .login-link a:hover, .container .login-form .login-link button:hover{
    color: var(--hover-color);
    text-decoration: underline;
}
.container .login-form .login-link .dangky{
    margin: 1.5rem 0;
}
/*CSS phần giỏ hàng*/
.cart-main {
    padding: 4rem 4%;
}
.cart-main .cart-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 4rem;
}
.cart-main .cart-item p{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
}
.cart-main .payment{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
}
.cart-main .payment h1{
    font-weight: 500;
    padding-bottom: 2rem;
    
}
.cart-main .payment .note{
    text-align: left;
    width: 50%;
   
}
.cart-main .payment .note textarea{
    width: 100%;
    border: 1px solid #ccc;
    height: 15rem;

}
.cart-main .payment .money-list{
    text-align: right;

}
.cart-main .payment .money-list p{
    font-size: 1.6rem;
    
}
.cart-main .payment .money-list .money-item{
    font-size: 3.2rem;
    font-weight: 600;
    padding-bottom: 2rem;
    
}
.cart-main .payment .money-list .money-item span{
    font-size: 2rem;
    text-decoration: underline;
    font-weight: 500;
    color: var(--hover-color);
}
.cart-main .payment .money-list .money-list-button{
    padding-top: 4rem;
    display: flex;
}
.cart-main .payment .money-list .money-list-button a{
    width: 24rem;
    height: 4.5rem;
    font-size: 1.8rem;
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
    display: block;
    text-align: center;
    line-height: 4.5rem;
    cursor: pointer;
    letter-spacing: .1rem;
    margin-right: 1rem;
}

.cart-main .payment .money-list .money-list-button a:hover{
    background-color: var(--hover-color);
    color: var(--white-color);
}
.cart-main .payment .money-list .money-list-button button{
    width: 16.5rem;
    height: 4.5rem;
    text-align: center;
    line-height: 4.5rem;
    color: var(--white-color);
    background-color: var(--hover-color);
    font-size: 1.8rem;
    cursor: pointer;
}