.Logo {
    height: 80px;
    width: 80px;
}
.main-menu {
    margin-top: 0;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: sticky;
    top: 0;
}
.DarkMode {
    margin: 0 30px 20px 30px;
}
.menu {
    text-align: center;
    
    
    

}
.box {
    margin-bottom: 50px;
    box-shadow: rgb(38, 57, 77) 0px 20px 20px -10px;
    border-radius: 0 0 10px 10px;   
}
.search-icon {
    height: 30px;
    width: 30px;
}
.boder{
    border: solid 3px;
}
