.pagination{
    margin: 10px;
    padding: 10px;
    color: rgb(152, 24, 24);
    align-items: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.pagination a{
    text-decoration:none ;
    list-style: none;
    margin: 10px;
}
.activepagination{
    background-color: red;
    color: white;
    font-weight: bold;
    border: 1px solid;
    padding: 5px;
}